@page "/Home"
@using APIcalls
@using StockProSim.Data
@inject StockNewsService StockNewsService
@inject AuthenticationService AuthService
@inject MyServerDb Database

<PageTitle>Home</PageTitle>

<h1>Welcome back to your portfolio.</h1>

<p>Welcome back, @username! Find below the latest stock market news and information on the stocks you are watching.</p>

<p>Navigate the application using the toolbar on the left.</p>

<h2>Latest Stock Market News</h2>

@if (newsArticles != null)
{
    <ul>
        @foreach (var article in newsArticles)
        {
            <li>
                <a href="@article.Url" target="_blank">@article.Headline</a>
                <br />
                <img src="@article.Image" alt="News Image" style="width: 250px; height: auto; border-radius: 8px;" />
                <p>@article.Summary</p>
                <p><i>Source: @article.Source</i></p>
            </li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}

<h2>Latest Watch List News</h2>
@if (WatchlistArticles != null)
{
    <ul>
        @foreach (var article in WatchlistArticles)
        {
            <li>
                <a href="@article.Url" target="_blank">@article.Headline</a>
                <br />
                <img src="@article.Image" alt="News Image" style="width: 250px; height: auto; border-radius: 8px;" />
                <p>@article.Summary</p>
                <p><i>Source: @article.Source</i></p>
            </li>
        }
    </ul>
}
else
{
    <p>No stocks currently being watched</p>
}


@code {
    private List<NewsArticle> newsArticles;
    private List<NewsArticle> WatchlistArticles = new List<NewsArticle>();
    private string username = "";

    protected override async Task OnInitializedAsync()
    {
        int userID = await AuthService.GetUserIdAsync();
        var watchlist = await Database.GetWatchlistAsync(userID);
        username = Database.GetUsername(userID);
        foreach (var ticker in watchlist)
        {
            var article = await StockNewsService.GetStockNewsByTickerAsync(ticker);
            if (article != null)
            {
                WatchlistArticles.Add(article);
            }
        }
        var isAuthenticated = await AuthService.IsAuthenticatedAsync();
        Console.WriteLine($"IsAuthenticated: {isAuthenticated}");
        newsArticles = await StockNewsService.GetStockNewsAsync();
        if (newsArticles != null)
        {
            foreach (var article in newsArticles)
            {
                Console.WriteLine($"Image URL: {article.Image}");
            }
        }
        else
        {
            Console.WriteLine("No news articles found.");
        }
    }
}