@page "/Home"
@using APIcalls
@inject StockNewsService StockNewsService
@inject AuthenticationService AuthService


<PageTitle>Home</PageTitle>

<h1>Welcome back to your portolio.</h1>

<h2>Latest Stock Market News</h2>

@if (newsArticles != null)
{
    <ul>
        @foreach (var article in newsArticles)
        {
            <li>
                <a href="@article.Url" target="_blank">@article.Headline</a>
                <br />
                <img src="@article.Image" alt="News Image" style="width: 250px; height: auto; border-radius: 8px;" />
                <p>@article.Summary</p>
                <p><i>Source: @article.Source</i></p>
            </li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<NewsArticle> newsArticles;

    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await AuthService.IsAuthenticatedAsync();
        Console.WriteLine($"IsAuthenticated: {isAuthenticated}");
        newsArticles = await StockNewsService.GetStockNewsAsync();
        if (newsArticles != null)
        {
            foreach (var article in newsArticles)
            {
                Console.WriteLine($"Image URL: {article.Image}");
            }
        }
        else
        {
            Console.WriteLine("No news articles found.");
        }
    }
}